<div class="right_part">
 <div class="right_part_item_container">
  <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_1.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Mark P.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_2.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Marvin S.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_3.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Sebastian K.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_1.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Mark P.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_4.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Philip O.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_1.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Mark P.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_5.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Benni I.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_5.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Benni I.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_1.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Benni I.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
   <div class="container_item">
   <div class="item_image">
    <img class="item_img" src="img/content/avatar_thumbnail_big_5.png" width="41" height="41" alt="avatar_big">
     <span class="avatar_status active">
     </span>
   </div>
   <div class="item_message">
    <span class="message_text">
    <strong>Benni I.</strong> add an Image into Worlda
    </span>
    <span class="message_text date_text">
     Today, 10:30 PM
    </span>
   </div>
  </div>
 </div> 
 <div class="right_part_footer">
  <span class="footer_message">
    Activity Archiv
  </span>
 </div>
</div>