<div class="widget animated fast">
 <div class="container">
  <div class="widget__inner">
<!-- LEFT PART BEGIN -->  
   <div class="left_part">
    <div class="left_part_entry">
     <div class="pull-left">
      <div class="entry_message">
       <span class="editable_message" onkeypress="return (this.innerText.length <= 20)" placeholder="Search a Project with Name, Task, User etc..." contenteditable="true"></span>
      </div>
     </div>
     <div class="pull-right">
      <div class="entry_dropdown">
       <button class="btn btn-sm dropdown-toggle first-widget-btn" type="button">
       <span>
        <strong>New projects</strong> (descending)
       </span>
      </button>
      <div class="dropdown-menu first-widget-dropdown-menu">
       <a class="dropdown-item project_8">Project_1</a>
       <a class="dropdown-item project_9">Project_2</a>
       <a class="dropdown-item project_10">Project_3</a>
      </div>
     </div>
     <div class="entry_image" id="add_project">
      <img class="item_image" src="img/ui/plus_icon.png" width="11" height="11" alt="plus_icon">
     </div>
     </div>
    </div>
    <!-- LEFT PART ITEM CONTAINER BEGIN -->
    <div class="left_part_item_container">
    <!-- CONTAINER ITEMS & SUBITEMS BEGIN --> 
    <!-- FIRST ITEMS BLOCK WRAPPER BEGIN -->
    <div class="first_item_block_wrapper">
     <div class="container_item">
      <span class="item_percentage">
       23%
      </span>
      <span class="item_message">
       Create Contact Formular
      </span> 
      <div class="item_text">
       <span>
        Worlda
       </span>
      </div>
      <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

    <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div>
  <!-- FIRST ITEMS BLOCK WRAPPER END -->
<!-- SECOND ITEMS BLOCK WRAPPER BEGIN -->
     <div class="second_item_block_wrapper">
     <div class="container_item">
      <span class="item_percentage">
       87%
      </span>
      <span class="item_message">
       Create Subpage PSD
      </span> 
      <div class="item_text">
       <span>
        Panorama
       </span>
      </div>
     <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

   <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div> 
    <!-- SECOND ITEMS BLOCK WRAPPER BEGIN -->
    <!-- THIRD ITEMS BLOCK WRAPPER BEGIN -->
     <div class="third_item_block_wrapper">
     <div class="container_item">
      <span class="item_percentage">
       83%
      </span>
      <span class="item_message">
       Layout & implementation in HTML & CSS   
      </span> 
      <div class="item_text">
       <span>
        Ebay Relaunch
       </span>
      </div>
      <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

    <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div> 
    <!-- THIRD ITEMS BLOCK WRAPPER END -->
    <!-- FOURTH ITEMS BLOCK WRAPPER BEGIN -->
     <div class="fourth_item_block_wrapper">
     <div class="container_item">
      <span class="item_percentage">
       23%
      </span>
      <span class="item_message">
       Lorem ipsum dolor sit amet, elitr, sed diam  
       nonumy eirmod tempor
      </span> 
      <div class="item_text">
       <span>
        Panorama
       </span>
      </div>
     <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

   <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div> 
    <!-- FOURTH ITEMS BLOCK WRAPPER END -->
    <!-- FIFTH ITEMS BLOCK WRAPPER BEGIN -->
    <div class="fifth_item_block_wrapper">
     <div class="container_item">
      <span class="item_percentage">
       98%
      </span>
      <span class="item_message">
       Create Contact Formular
      </span> 
      <div class="item_text">
       <span>
        Worlda
       </span>
      </div>
      <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

  <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div>
  <!-- FIFTH ITEMS BLOCK WRAPPER END -->
  <!-- SIXTH ITEMS BLOCK WRAPPER BEGIN -->
    <div class="sixth_item_block_wrapper">
     <div class="container_item">
      <span class="item_percentage">
       98%
      </span>
      <span class="item_message">
       Create Contact Formular
      </span> 
      <div class="item_text">
       <span>
        Worlda
       </span>
      </div>
     <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

   <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div>
  <!-- SIXTH ITEMS BLOCK WRAPPER END -->
  <!-- SEVENTH ITEMS BLOCK WRAPPER BEGIN -->
    <div class="seventh_item_block_wrapper">
     <div class="container_item">
      <span class="item_percentage">
       98%
      </span>
      <span class="item_message">
       Create Contact Formular
      </span> 
      <div class="item_text">
       <span>
        Worlda
       </span>
      </div>
      <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

   <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div>
  <!-- SEVENTH ITEMS BLOCK WRAPPER END -->
  <!-- EIGHTHS ITEMS BLOCK WRAPPER BEGIN -->
     <div class="eighth_item_block_wrapper" id="eighth_project">
     <div class="container_item animated fast fadeInDown">
      <span class="item_percentage">
       87%
      </span>
      <span class="item_message">
       Create Subpage PSD
      </span> 
      <div class="item_text">
       <span>
        Panorama
       </span>
      </div>
      <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

  <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div> 
    <!-- EIGHTH ITEMS BLOCK WRAPPER BEGIN -->
    <!-- NINTH ITEMS BLOCK WRAPPER BEGIN -->
     <div class="ninth_item_block_wrapper" id="ninth_project">
     <div class="container_item animated fast fadeInDown">
      <span class="item_percentage">
       83%
      </span>
      <span class="item_message">
       Layout & implementation in HTML & CSS   
      </span> 
      <div class="item_text">
       <span>
        Ebay Relaunch
       </span>
      </div>
      <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

    <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div> 
    <!-- NINTH ITEMS BLOCK WRAPPER END -->
    <!-- TENTH ITEMS BLOCK WRAPPER BEGIN -->
     <div class="tenth_item_block_wrapper" id="tenth_project">
     <div class="container_item animated fast fadeInDown">
      <span class="item_percentage">
       23%
      </span>
      <span class="item_message">
       Lorem ipsum dolor sit amet, elitr, sed diam  
       nonumy eirmod tempor
      </span> 
      <div class="item_text">
       <span>
        Panorama
       </span>
      </div>
      <div class="item_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
      <div class="item_dropdown">
       <img class="item_image" src="img/ui/dropdown_arrow.png" width="10" height="6" alt="dropdown_icon">
      </div>
     </div>

    <div class="container_subitem animated fast">
     <span class="subitem_percentage">
      66%
     </span>
     <span class="subitem_message">
      Create Contact Formular
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail_3.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
      <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
       <div class="avatars_item additional_item animated fast slideInLeft">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status">
       </span>
      </div>
      <div class="more_avatars_item">
       <span>
        +3
       </span>
      </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Today, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>

     <div class="container_subitem done_subitem animated fast">
     <span class="subitem_percentage done_percentage">
      Ready
     </span>
     <span class="subitem_message">
      <strong>Implementation in the Layout</strong>
       <img src="img/ui/checked_icon.png" width="18" height="15" alt="checked">
     </span> 
     <div class="subitem_avatars">
      <div class="avatars_item">
       <img class="avatars_items_img" src="img/content/avatar_thumbnail.png" width="33" height="33" alt="avatar">
       <span class="avatar_status active">
       </span>
      </div>
       <div class="avatars_item">
        <img class="avatars_items_img" src="img/content/avatar_thumbnail_2.png" width="33" height="33" alt="avatar">
        <span class="avatar_status">
        </span>
       </div>
      </div>
      <div class="subitem_text">
       <img  src="img/ui/refresh_icon.png" width="12" height="13" alt="refresh">
       <span>
        Yesterday, <strong>13:40</strong> PM
       </span>
      </div>
      <div class="subitem_search">
       <img class="item_image" src="img/ui/zoom_icon.png" width="12" height="12" alt="search_icon">
      </div>
     </div>
    </div> 
    <!-- TENTH ITEMS BLOCK WRAPPER END -->
    <!-- CONTAINER ITEMS & SUBITEMS END --> 
     </div>
    <!-- LEFT PART ITEM CONTAINER END-->
    <div class="left_part_footer">
     <span class="footer_message">
      Project Archiv
     </span>
    </div>
   </div>
   <!-- LEFT PART END -->
   {% include "partials/widget-right-part.html" %}
  </div>
 </div>
</div>